body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  margin-top: 2%;
  padding-bottom: 1em;
  padding-top: 1em;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 100px;
  color: rgb(43, 222, 181);
  text-align: center;
  padding-bottom: 1%;
}

.appHead {
  padding-top: 2%;
  color: rgb(122, 122, 122);
  font-family: 'Lato', sans-serif;
  font-size: 80px;
}

.appTitle {
  font-size: 55px;
  float: left;
  margin-left: 3%;
  color: rgb(205, 205, 205);
}

.appContainer1 {
    border: 6px solid rgb(229, 229, 229);
    position: relative;
    text-align: center;
    padding-top: 5%;
    border-bottom: white;
    border-left: white;
    border-right: white;
    border-radius: 1px;
    /*margin-top: 8%;*/
}

.appContainer2 {
    border: 6px solid rgb(229, 229, 229);
    position: relative;
    text-align: center;
    padding-top: 3%;
    border-bottom: white;
    border-left: white;
    border-right: white;
    border-radius: 1px;
    margin-top: 8%;
}

i.fa-map-marker {
  color: rgb(185, 185, 185);
  font-size: 65px;
  position: absolute;
  top: 360px;
  right: 60px;
  margin-left: -1em;
}

i.fa-calendar {
  color: rgb(185, 185, 185);
  font-size: 65px;
  position: absolute;
  top: 135px;
  right: 50px;
  margin-left: -1em;
}

i.fa-clock-o {
  color: rgb(185, 185, 185);
  font-size: 65px;
  position: absolute;
  top: 135px;
  right: 50px;
  margin-left: -1em;
}


.appContainer3 {
    border: 6px solid rgb(229, 229, 229);
    position: relative;
    text-align: center;
    padding-top: 3%;
    border-bottom: white;
    border-left: white;
    border-right: white;
    border-radius: 1px;
    margin-top: 8%
}

.appContainer4 {
    border: 6px solid rgb(229, 229, 229);
    position: relative;
    text-align: center;
    padding-top: 3%;
    border-bottom: white;
    border-left: white;
    border-right: white;
    border-radius: 1px;
    margin-top: 8%;

}

.emptyA {
  position: relative;
  text-align: center;
  padding-top: 3%;
  border-bottom: white;
  border-left: white;
  border-right: white;
  border-radius: 1px;
  margin-top: 8%;
  height: 300px;

}

.fa-chevron-left {
  float: left;
  margin-left: 3%;
  color: rgb(122, 122, 122);
}

.fa-plus {
color: rgb(122, 122, 122);
float: right;
margin-right: 3%;
}

.main-content {
  width: 100%;
}

.search-container {
  /*margin-top: 1%;*/
  border: 6px solid rgb(229, 229, 229);
  position: relative;
  text-align: center;
  padding-top: 3%;
  border-bottom: white;
  border-left: white;
  border-right: white;
  border-radius: 1px;
}

.txt {
  margin-top: 3%;
  width: 95%;
  height: 105px;
  font-size: 60px;
  text-align: center;
  border-color: rgb(224, 224, 224);
}

i.fa-search {
  color: rgb(185, 185, 185);
  font-size: 65px;
  position: absolute;
  top: 75px;
  margin-left: -1em;
}

i.fa-cloud {
  font-size: 50px;
}

.container1 {
  width: 100%;
  position: relative;
  margin-top: 15%;
  min-height: 200px;
}

.container2 {
  width: 100%;
  position: relative;
  margin-top: 12%;
  min-height: 200px;
}

.container3 {
  width: 100%;
  position: relative;
  margin-top: 5%;
  min-height: 200px;
}

.dateWrap {
  margin-top: 4%;
  display: inline-block;
  height: 200px;
  color: rgb(185, 185, 185);
}

.dateLine {
  border-style: solid;
  border-color: rgb(185, 185, 185);
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 100px;
}

.dateDay {
  color: rgb(122, 122, 122);
  margin-top: -38px;
  margin-left: 30%;
  font-size: 60px;
  background-color: white;
  width: 40%;
  text-align: center;
}

.app1 {
  /*border: 1px dashed #000;*/
  display: inline;
  height: 200px;
  margin-left: 3%;
  margin-right: 3%;
  position: absolute;
}

.box {
  /*border: 1px dashed red;*/
}

.left {
  font-size: 30px;
  color: white;
  width: 200px;
  height: 100px;
  background-color: rgb(0, 227, 187);
  text-align: center;
  padding-top: 1em;
}

.blockLeft {
  float: left;
}

.right {
  width: 720px;
  height: 100px;
  background-color: rgb(245, 245, 245);
  font-size: 60px;
  padding-left: 1em;
  padding-top: 20px;
}

.blockRight {
  float: right;
}

/* clear fix -
    prevent parent element from collapsing to zero height since it
    has only floated children */
.main-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

#hereGreen {
  display: inline-block;
  font-size: 65px;
  color: rgb(43, 222, 181);
  margin-right: 1em;
  top: 310px;
  right: 60px;
}

.what {
  font-size: 65px;
  border: 6px solid rgb(229, 229, 229);
  position: relative;
  text-align: left;
  padding-top: 5%;
  border-bottom: white;
  border-left: white;
  border-right: white;
  border-radius: 1px;
}

.when {
  margin-top: 10%;
  margin-left: 1.5em;
}

#timeColor {
  color: rgb(43, 222, 181);
}

.here {
  margin-top: 10%;
  margin-left: 1.5em;
  font-style: italic;
  color: rgb(195, 195, 195);
}

#pinhook {
  width: 780px;
  height: 450px;
  margin-top: 10%;
  margin-left: 10%;
  border: 6px solid rgb(195, 195, 195);
  border-radius: 10px;
}

.update {
  color: rgb(122, 122, 122);
  font-size: 70px;
  text-align: center;
  border: 6px solid rgb(229, 229, 229);
  background-color: rgb(229, 229, 229);
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 160px;
  display:inline-block;
}

#niceDay {
  padding-top: .5em;
}

#upCloud {
  color: white;
  font-size: 1em;
  float: left;
  padding-left: 1em;
}

/* when we set a width, that element stays that width, despite padding or borders
being applied.*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dualFooter {
  display: inline;
}

.footLeft {
  color: white;
  background-color: red;
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  border-style: solid;
  height: 160px;
  width: 50%;
  position: fixed;
  bottom: 0;
  opacity: .8;
}

.footRight {
  color: white;
  background-color: rgb(43, 222, 181);
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  border-style: solid;
  height: 160px;
  width: 50%;
  position: fixed;
  bottom: 0;
  opacity: .8;
  margin-left: 50%;
}


.createFootButton {
  color: white;
  background-color: rgb(43, 222, 181);
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  border-style: solid;
  height: 160px;
  width: 100%;
  position: fixed;
  bottom: 0;
  opacity: .8;
}

.footButton4 {
  color: white;
  background-color: rgb(43, 222, 181);
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  border-style: solid;
  height: 160px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left:0;
  opacity: .8;
}
